{{#if products}}
{{#each products}}
    <div class="productCard">
        <img src="{{this.thumbnail}}" alt="image {{this.title}}" width="200">
        <p>{{this.title}}</p>
        <p>${{this.price}}</p>
    </div>
{{/each}}
{{/if}}